version: '3.7'

networks:
  payever:
    driver: bridge

services:
  payever-assessment:
    # build: 
    #   context: .
    #   dockerfile: ./.docker/dockerfiles/Dockerfile
    image: rafaelcaval1/payever-assessment:latest
    # entrypoint: sh ./.docker/entrypoint.sh
    restart: always
    container_name: payever-assessment
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://root:root@host.docker.internal:27017/payever-assessment?authSource=admin
      RABBITMQ_URI: amqp://user:password@host.docker.internal:5672
      BASE_API: https://reqres.in/api
      PORT: 3000
    depends_on:
      - mongo
      - rabbitmq
    ports:
      - 3000:3000
    # volumes:
    #   - .:/usr/payever-assessment/app
    networks:
      - payever
    extra_hosts:
      - host.docker.internal:host-gateway
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    restart: always
    ports:
        - 5672:5672
        - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
        - payever
    extra_hosts:
      - host.docker.internal:host-gateway
  mongo:
    image: mongo:4.0.3
    restart: always
    ports:
      - 27017:27017
    container_name: mongo
    volumes:
      - ./data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - payever
    extra_hosts:
      - host.docker.internal:host-gateway